# Prevent access to config.php
<Files config.php>
    Order Allow,Deny
    Deny from all
</Files>

# Redirect to https
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
